{% extends 'base.html' %}
{% block content %}

<h1>Part Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ part.name }}</span>
        <p>Purpose: {{ part.purpose }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'parts_update' part.id %}">Edit</a>
        <a href="{% url 'parts_delete' part.id %}">Delete</a>
      </div>
    </div>
    <br><br>
    <a href="{% url 'parts_create' %}">Add Another Part</a>
  </div>
</div>

{% endblock %}